@font-face{
	font-weight: normal;
	src: url(../font/Roboto-Regular.ttf);
}
@font-face{
	font-weight: bold;
	src: url(../font/Roboto-Bold.ttf);
}

.root {
	-fx-font-family: 'Roboto';
	-fx-font-size: 12px;
	/*-fx-font-size: 1.1em;*/
}  

.button{
	-fx-pref-width: 65;
}